<h1>products index</h1>
<div class="cards-container">
  <% @products.each do |product| %>
  <div class="card" style="width: 18rem;">
    <img src="..." class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title"><%= product.name %></h5>
      <p class="card-text"><%= product.description %></p>
      <p class="card-text"><%= product.composition %></p>
      <a href="#" class="btn btn-primary">Add to basket</a>
    </div>
  </div>
  <% end %>
</div>
